[Desktop Entry]
Type=Application
Name=org.perl6.rakudo
Icon=perl6
Exec=perl6
Categories=Building;
Comment=A useful and usable production distribution of Perl 6
